.Top {
    position:absolute;
    width:100%;
    height: 8%;
    background-color: none;
}
.Settings{
    position: relative;
    width: 10%;
    height:60%;
    background-color: none;
    top: 10%;
    padding-left: 3%;
}
.SearchText{
    position: absolute;
    left:20%;
    font-size:50px;
    background-color:none;
    top:35%;

}
a{
    text-decoration: none;
    color: black;
}
.SearchButton{
    position: relative;
    width: 10%;
    height:60%;
    background-color: none;
    top: 10%;
    padding-left: 3%;
    left:50%;
}
.Sort{
    position: absolute;
    width:50%;
    height:5%;
    background-color:none;
    top:15%;
    font-size: 55px;
    padding-left: 100px;
}
.SortButton{
    position: absolute;
    width:20%;
    height:80%;
    top:-5%;
    left:110%;
    background-color: none;
}
hr{
    border:1px solid black;
}
.SortAfter{
    position: absolute;
    left:9%;
    font-size:50px;
    background-color:none;
    top:23%;
}
.MainContent{
    position: absolute;
    left:5%;
    background-color:none;
    top:30%;
    width:70%;
    height: 35%;
}
img{
    height:200px;
}
.Stores{
    position: absolute;
    left:0%;
    background-color:none;
    top:0%;
    width:40%;
    height: 80%;
}
.Rema{
}
.Kiwi{
    padding-top:5px;
}
.Prix{
    padding-left:25px;
    padding-top:5px;
}
.Meny{
    padding-left:25px;
    padding-top:20px;
}
.vl {
    position: absolute;
    border-left: 2px solid black;
    height: 900px;
    left: 40%;
}
.PriceRema{
    position:absolute;
    font-size:90px;
    left:55%;
    top:5%;
}
.PriceKiwi{
    position:absolute;
    font-size:90px;
    left:55%;
    top:27%;
}
.PricePrix{
    position:absolute;
    font-size:90px;
    left:55%;
    top:49%;
}
.PriceMeny{
    position:absolute;
    font-size:90px;
    left:55%;
    top:72%;
}
.Position {
    position: absolute;
    background-color: white;
    width: 20%;
    height: 90%;
    left: 85%;
}
.PosRema{
    position:absolute;
    background-color:white;
    width:100%;
    height:15%;
    top:5%;
}
.PosKiwi{
    position:absolute;
    background-color:white;
    width:100%;
    height:15%;
    top:30%;
}
.PosPrix{
    position:absolute;
    background-color:white;
    width:100%;
    height:15%;
    top:55%;
}
.PosMeny{
    position:absolute;
    background-color:white;
    width:100%;
    height:15%;
    top:80%;
}
.Filter{
    position:absolute;
    top:65%;
    font-size:50px;
    left:10%
}
.FilterButton{
    position:absolute;
    top:50%;
    left:110%
}
.Bottom{
    position:absolute;
    top:76%;
    background-color:none;
    width: 100%;
    height:8%;
}
.Home{
    position:absolute;
    top:20%;
    background-color:none;
    width: 15%;
    height:100%;
    left:5%;
}
.Inbox{
    position:absolute;
    top:20%;
    background-color:none;
    width: 15%;
    height:100%;
    left:25%;
}
.Cart{
    position:absolute;
    top:20%;
    background-color:none;
    width: 15%;
    height:100%;
    left:45%;
}
.Account{
    position:absolute;
    top:20%;
    background-color:none;
    width: 15%;
    height:100%;
    left:65%;
}
.hr{
    position:absolute;
    border:1px solid black;
    width:70%;
    top:76%;
    left:6%;
}