.Top {
    position:absolute;
    width:100%;
    height: 8%;
    background-color: none;
}
.Settings{
    position: relative;
    width: 10%;
    height:60%;
    background-color: none;
    top: 10%;
    padding-left: 3%;
}
.SearchText{
    position: absolute;
    left:30%;
    font-size:60px;
    background-color:none;
    top:35%;

}
a{
    text-decoration: none;
    color: black;
}
.SearchButton{
    position: relative;
    width: 10%;
    height:60%;
    background-color: none;
    top: 10%;
    padding-left: 3%;
    left:67%;
}
.Sort{
    position: absolute;
    width:50%;
    height:5%;
    background-color:none;
    top:15%;
    font-size: 65px;
    padding-left: 100px;
}
.SortButton{
    position: absolute;
    width:20%;
    height:80%;
    top:-5%;
    left:110%;
    background-color: none;
}
hr{
    border:1px solid black;
}
.SortAfter{
    position: absolute;
    left:9%;
    font-size:58px;
    background-color:none;
    top:23%;
}
.MainContent{
    position: absolute;
    left:5%;
    background-color:none;
    top:30%;
    width:70%;
    height: 35%;
}
img{
    height:300px;
}
.Stores{
    position: absolute;
    left:0%;
    background-color:none;
    top:0%;
    width:40%;
    height: 130%;
}
.Rema{
}
.Kiwi{
    padding-top:5px;
}
.Prix{
    padding-left:45px;
    padding-top:5px;
}
.Meny{
    padding-left:45px;
    padding-top:20px;
}
.vl {
    position: absolute;
    border-left: 2px solid black;
    height: 1300px;
    left: 55%;
}
.PriceRema{
    position:absolute;
    font-size:120px;
    left:70%;
    top:9%;
}
.PriceKiwi{
    position:absolute;
    font-size:120px;
    left:70%;
    top:40%;
}
.PricePrix{
    position:absolute;
    font-size:120px;
    left:70%;
    top:72%;
}
.PriceMeny{
    position:absolute;
    font-size:120px;
    left:70%;
    top:105%;
}
.Position {
    position: absolute;
    background-color: none;
    width: 20%;
    height: 135%;
    left: 110%;
}
.PosRema{
    position:absolute;
    background-color:white;
    width:100%;
    height:15%;
    top:6%;
}
.PosKiwi{
    position:absolute;
    background-color:white;
    width:100%;
    height:15%;
    top:30%;
}
.PosPrix{
    position:absolute;
    background-color:white;
    width:100%;
    height:15%;
    top:54%;
}
.PosMeny{
    position:absolute;
    background-color:white;
    width:100%;
    height:15%;
    top:78%;
}
.Filter{
    position:absolute;
    top:79%;
    font-size:55px;
    left:10%
}
.FilterButton{
    position:absolute;
    top:50%;
    left:110%
}
.Bottom{
    position:absolute;
    top:90%;
    background-color:none;
    width: 100%;
    height:8%;
}
.Home{
    position:absolute;
    top:20%;
    background-color:none;
    width: 15%;
    height:100%;
    left:9%;
}
.Inbox{
    position:absolute;
    top:20%;
    background-color:none;
    width: 15%;
    height:100%;
    left:32%;
}
.Cart{
    position:absolute;
    top:20%;
    background-color:none;
    width: 15%;
    height:100%;
    left:55%;
}
.Account{
    position:absolute;
    top:20%;
    background-color:none;
    width: 15%;
    height:100%;
    left: 77%;
}
.hr{
    position:absolute;
    border:1px solid black;
    width:80%;
    top:90%;
    left:9%;
}
.navbar {
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.navbar i{
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    margin: 0px 15px 5px 0px;
    text-decoration: none;
    font-size: 17px;
}

.navbar i:hover {
    background: #f1f1f1;
    color: black;
}

.navbar i.focus{
    background-color: #04AA6D;
    color: white;
    border-radius:5px;
}