body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar i{
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  margin: 0px 15px 5px 0px;
  text-decoration: none;
  font-size: 17px;
}

.navbar i:hover {
  background: #f1f1f1;
  color: black;
}

.navbar i.focus{
  background-color: #04AA6D;
  color: white;
  border-radius:5px;
}

.heading {
    margin: 50px 0px 0px 20px;
}
   
.heading2 {
    margin: 0px 0px 0px 20px;
}

.top-header {
  position: relative;
}

.profile {
  color: #000000;
  text-decoration: none;

  position: absolute;
  right: 0;
  top: 0;
  margin: -9px 20px 0px 0px;

  width: 10px;
  height: 10px;
  padding: 20px;

  border: 2px solid #000000;
  border-radius: 100px;

  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.butikker {
    margin: 20px;
}

.butikk {
    position: relative;
    margin-top: 20px;
    height: 115px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.butikk:active {
    transform: scale(0.98);
}

.butikk img {
    display: block;
    width: 25%;
    height: auto;

    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    margin: 0px 0px 0px 15px;
}

.desc {
    margin: 0px 0px 0px 90px;
    font-size: 12px;
    line-height: 0.5;
}


.desc i {
    margin: 0px 5px 0px 20px;
}

.price {
    position: absolute;
    right: 0;
    bottom: 30px;
    margin-right: 40px;
    font-weight: bold;
}

.sort {
    float:right;

    margin: 0px 30px 0px 0px;
    padding: 13px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.sort:active {
    transform: scale(0.94);
}
