/* Importer CSS fra global.css som innholder CSS som blir brukt på alle
 * HTML sidene. Derfor er det best at vi har det i an annen fil slik at vi ikke
 * har duplikasering av CSS kode.
 */
@import "global.css";

/* CSS FOR OVERSKRIFTEN */
.heading {
    margin: 50px 0px 0px 20px; /*Ha en margin av 50px på toppen, 0px på høyre og bunnen og 20px på venstre siden*/
}



/* CSS KODE FOR SELVE LISTEN MED VARENE */
.container {
    position: relative; /* alt som er inni containeren skal være relativt for andre elementer */
}

.list {
    margin: 20px; /*ha en margin av 20px*/
    height: 630px;/*Høyden skal være 630px*/
    
    /* Hvis ikke alle elementene kan være inni boksen, ha
     * mulighete for å "scrolle"
     */
    overflow: scroll;
  
    /* Fjerne scrollbar i matvarer listen */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

/* Fjerne scrollbar i matvarer listen på på nettlesre som bruker Webkit*/
.list::-webkit-scrollbar { 
    display: none;
}

/*CSS TIL SKJEKK BOXEN*/
.checkbox {
    margin: 5px 0px 0px 15px; /*ha en margin på 5px på toppen, 0px på høyre og bunnen og 15px på venstre*/
    height: 15px; /*ha en høyde på 15px*/
    width: 15px; /*ha en bredde på 15px*/
}

/*CSS TIL TEXTBOX HVOR BRUKEREN SKRIVER INN VAREN*/
.textbox {
    margin: 5px 0px 0px 15px; /*ha en margin på 5px på toppen, 0px på høyre og bunnen, og 15px på venstre */
    font-size: 14px; /* ha en font størelse på 14px*/
    border: none; /*ikke hvis en blå border når bruekren skriver i textboxen*/
    outline: 0 !important; /*ikke hvis en blå border når bruekren skriver i textboxen*/
    width: 60vw /*bredden på textboksen skal være 60vw*/
}


/*CSS TIL PLUSS KNAPP*/
.add-item {
    position: absolute; /*ikke lag plass for andre elementer*/
    bottom: 20px; /* 20px fra bunnen*/
    right: 20px; /*20px fra høyre */

    font-size: 22px; /*bruk font størrelse på 22px*/

    width: 30px; /*bruk en bredde på 30px */
    height: 30px; /*bruk en høyde på 30px */
    border: none; /*ikke vis en border*/ 
    border-radius: 100px; /*bruk en radius på 100px (sirkel) */
    background-color: #aeaeae; /*bakgrunnsfarge som en type grå*/
    color: #ffffff; /* fargen på plussen */
    padding: 15px; /* bruk en padding på 15px*/

    /*vis en fin skygge, tatt fra https://getcssscan.com/css-box-shadow-examples*/
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

    /*for å plassere knappen på nede på høyre hjørne */
    display: flex; 
    justify-content: center;
    align-items: center;

    /*bruk en margn på 0px på både toppen og venstre side, men ha 15px på høyre og 15px på bunnen*/
    margin: 0px 10px 15px 0px ;
}


/* CSS FOR HVER VARE I LISTEN */
.item {
  position: relative; /*plasser elementen relativ til andre elementer*/
  padding: 20px 0px 20px 10px; /* bruk en margin på 20px på toppen, 0px høyre, 20px på bunnen og 10px på venstre*/
  border-radius: 10px; /*vis en radius på 10px*/

  /*vis en fin skygge, tatt fra https://getcssscan.com/css-box-shadow-examples*/
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

  /*ha en margin på 10px alle sider untatt på bunnen*/
  margin: 10px 10px 0px 10px;
}

/* CSS FOR KRYSS/SLETT KNAPPEN */
.close {
  position: absolute; /*ikke lag plass til andre elementer*/
  right: 0; /*ikke ha plass på høyre siden*/
  top: 0; /*ikke ha plass på toppen*/
  margin: 15px 20px 0px 0px; /* ha en margin på 15px på toppen, 20px på høyre og 0px på de andre sidene*/
  padding: 10px; /*ha en padding på 10px på alle sidene*/
  font-size: 20px; /*bruk en font størrelse på 20px*/

}

/* CSS FOR EMPTY STATE SOM VI LÆRE I IS104*/
.empty-state {
    font-family: Arial, Helvetica, sans-serif; /*bruk Helvetica som font*/
    font-size: 20px; /*font størrelsen skal være 20px*/
    text-align: center; /*alt skal være i midten av HTML siden*/
    font-weight: bold; /*bruk fet tekst*/
    color: #aeaeae; /*bruk en grå farge*/
}
